body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  text-align: center;
  color: #40515E;
}

h1 { font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Aref Ruqaa Ink', serif;
}
p{
  line-height: 2;
}
.cap2{

  margin-top: 50px;
  margin-bottom: 0px;
}
.cap1{
    font-size: 1.8rem;
    color: white ;
    font-family: 'Aref Ruqaa Ink', serif;
}

.cap{
    font-family: 'Rubik', sans-serif;

}


.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.middle-container {
 background-color: #EEEEEE;
 padding-bottom: 100px;
}
.savy{
  height: 220px;
  margin: 50px auto 10px auto;
}
.profile{
  margin-bottom: 50px;
}
.line{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;

}
.profilep{
  width:30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;

}

.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code1{
  width: 25%;
  float: right;
  margin-left: 30px;
}
/*  //to clear any side (anti-float)

.codep{
  clear: left;
}
.codep1{
  clear: right;
}
*/
.bottom-container {

  background-color:   #66BFBF;
  padding: 50px 0 20px 0;
}
.bottomp{
  color: white;
}
.footer-link{
  color: #11999E;
}
.contact-me{

}
.buddy{
  text-decoration: underline;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
